section {
    height: 65vh;
}

/* #map {
    height: 100vh;
} */

.home {
    background-image: url(./image/Como-se-recicla-800x400.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 100px 900px rgba(0,0,0,0.7);
}