#box1 {
  height: 70vh;
  width: 100%;
  background-image: url("../src/image/parque-exposicion-4\ \(1\).png");
  background-size: cover;
  display: table;
  background-attachment: fixed;
position: relative;
  
}

#adios {
      
  display: table;
position: absolute;
background-color: rgba(244, 254, 221, 0.91);
top: 0;
bottom: 0;
height: 100%;
width: 100%;
}

#hola {
      
  display: table;
position: absolute;
background-color: rgba(0, 1, 1, 0.6);
top: 0;
bottom: 0;
height: 100%;
width: 100%;
}
#box2 {
  height: 70vh;
  width: 100%;
  background-image: url("../src/image/imag0107.png");
  background-size: cover;
  display: table;
  background-attachment: fixed;
  
  position: relative;
}

#box3 {
  height: 70vh;
  width: 100%;
 
}

*{
  margin: 0%;
  padding: 0%

}

.divfirst{
  height: 100vh;
}
.sizerow{
  height: 50vh;
  width: 100%;
}
.imgColumn{
  height: 60%; 
  width: 50%;
  
}
.textColumn2{
  
  /* padding-top: 12% */
  padding-left: 5%;
  /* padding-right: 5%; */
  padding-bottom: 3%;
  
  
}

/* .textLeft{
  width: 40%
} */

.rowTwoColumn{
  /* background-size: contain;
  /* height: 50vh;  */
  /*background-image: url('./image/imag0107.png');
  background-repeat: no-repeat;
  background-size: 100%;
  
  width: 100%; */
  position: relative;
  z-index:1;
  overflow:hidden;
}

.titleDiv{
  font-size: 2rem
}
.divImg{
  width: 80%
  /* background-image: url('./image/Group\ \(1\).png'); */
 
}
.textColumn{
  text-align: center;
  /* padding-top: 12% */
  padding-left: 5%;
  padding-right: 5%;
  
}
.colorWhite{
  color: white
}
.colorGreen{
  color: rgb(57, 168, 57)
}

.columnBtns{ 
  display: block;
  justify-items: center
}
@media(max-width:500px){
.divImg{display: none;}
#box3{align-content: center}
}




.colIniciativas{
  background-color: aquamarine;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center
}
.cardIni{
  padding: 5% 5% 5% 5%
}
.btn{
    width: 200px;
    
}
.table td {
  vertical-align: inherit;
}

.img {
  width: 200px
}

.rowBtn{
    display: flex;
    justify-content: center
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body {
  margin: 0;
  padding: 0;
}
.btn1{
  background-color:#FF9914
}
.btn2{
  background-color:#EF2D56
}
.btn3{
  background-color:#820263
}
.btn4{
  background-color:#008BF8
}
.btn5{
  background-color:#FDCA40
}
.tipos{
  display:block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  font-size:160% ; 
  color: white
}
.tabla{
background-color:#D5F946 }

.scroll {
  overflow: scroll; 
  width: 85%;
  height: 330px;
}

#box1 {
  height: 50vh;
  width: 100%;
  background-image: url("../src/image/architecture-bar-bookcase.png");
  background-size: cover;
  display: table;
  background-attachment: fixed;
  z-index: -10;
  position: relative;
}


.rowBtn{
  display: flex;
  justify-content: center
}



