*{
    margin: 0%;
    padding: 0%

}
.firstColumn2{
    background-image: url('./image/MacFamilyTree_30181.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain

}
.divfirst{
    height: 100vh;
}

.imgColumn{
    height: 60%; 
    width: 50%;
    
}
.textColumn2{
    
    /* padding-top: 12% */
    padding-left: 5%;
    /* padding-right: 5%; */
    padding-bottom: 3%;
    
    
}

/* .textLeft{
    width: 40%
} */

.rowTwoColumn{
    /* background-size: contain;
    /* height: 50vh;  */
    /*background-image: url('./image/imag0107.png');
    background-repeat: no-repeat;
    background-size: 100%;
    
    width: 100%; */
    position: relative;
    z-index:1;
    overflow:hidden;
}
.rowTwoColumn:before{
    z-index:-1;
    position:absolute;
    left:0;
    top:0;
    content: url('./image/parque-exposicion-4\ \(1\).png');
    opacity:0.4;
}
.titleDiv{
    font-size: 2rem
}
.divImg{
    background-image: url('./image/Group\ \(1\).png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 50% 100%
}
.textColumn{
    text-align: center;
    /* padding-top: 12% */
    padding-left: 5%;
    padding-right: 5%;
    
}
.colorWhite{
    color: white
}
.colorGreen{
    color: rgb(57, 168, 57)
}

.columnBtns{ 
    display: block;
    justify-items: center
}

.rowMunicipality{
            
    
     background-image: url('./image/imag0107.png'); 
     box-shadow: inset 0px 0px 100px 900px rgba(0,0,0,0.5);
     
}


.colIniciativas{
    position: relative;
    z-index:1;
    overflow:hidden;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.colIniciativas:after{
    z-index:-1;
    position:absolute;
    left:0;
    top:0;
    content: url('./image/ciudades.png');
    opacity:0.8;
    /* background-color:  rgba(95, 241, 108, 0.781) */
   
}
.cardIni{
    padding: 5% 5% 5% 5%;
    border: 2px solid rgb(57, 168, 57);
    margin: 10px 10px 10px 10px
}
.btn{
    width: 200px;
    
}

.rowBtn{
    display: flex;
    justify-content: center
}